body {
  background-image: url(/img/editoriales.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.form-container {
  position: absolute;
  background: rgb(158, 158, 158);
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px #000;
  height: 400px;
  width: 380px;
}